@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 36 100% 95%;
    --foreground: 36 5% 0%;
    --card: 36 50% 90%;
    --card-foreground: 36 5% 10%;
    --popover: 36 100% 95%;
    --popover-foreground: 36 100% 0%;
    --primary: 36 36% 51.6%;
    --primary-foreground: 0 0% 100%;
    --secondary: 36 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: -2 30% 85%;
    --muted-foreground: 36 5% 35%;
    --accent: -2 30% 80%;
    --accent-foreground: 36 5% 10%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 36 5% 90%;
    --border: 36 30% 50%;
    --input: 36 30% 18%;
    --ring: 36 36% 51.6%;
    --radius: 0.3rem;
  }
  .dark {
    --background: 36 50% 5%;
    --foreground: 36 5% 90%;
    --card: 36 50% 0%;
    --card-foreground: 36 5% 90%;
    --popover: 36 50% 5%;
    --popover-foreground: 36 5% 90%;
    --primary: 36 36% 51.6%;
    --primary-foreground: 0 0% 100%;
    --secondary: 36 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: -2 30% 15%;
    --muted-foreground: 36 5% 60%;
    --accent: -2 30% 15%;
    --accent-foreground: 36 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 36 5% 90%;
    --border: 36 30% 18%;
    --input: 36 30% 18%;
    --ring: 36 36% 51.6%;
    --radius: 0.3rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-in {
  animation: slide-in 0.3s ease-out forwards;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #111111;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #3c3120;
  border-radius: 4px;
  border: 2px solid #111111;
}

::-webkit-scrollbar-thumb:hover {
  background: #a28b55;
}

/* Firefox */
* {
  scrollbar-color: #3c3120 #111111;
  scrollbar-width: thin;
}

[data-radix-popper-content-wrapper] {
  z-index: 50 !important;
}
