/* Map.css */
.leaflet-popup-content-wrapper {
  padding: 0;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow:
    0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.leaflet-popup-content {
  margin: 0;
  width: 280px;
}

.leaflet-popup-tip-container {
  display: none;
}

.map-tiles-dark {
  filter: invert(1) hue-rotate(180deg) brightness(0.92) contrast(0.9) saturate(0.8);
}
